<h2>Editar libro</h2>

<%= form_for @book do |f| %>
  <div class="form-group">
    <%= f.label :title, "Titulo" %><br/>
    <%= f.text_field :title, class:'form-control' %><br/>
  </div>

  <div class="form-group">
    <%= f.label :isbn, "ISBN" %><br/>
    <%= f.text_field :isbn, class:'form-control' %><br/>
  </div>

  <div class="form-group">
    <%= f.label :category, "Categoria" %><br/>
    <%= f.select :category_id, Category.all.collect { |x| [x.name, x.id] },
        { :include_blank => 'Elige uno' }, class:'form-control' %><br/>
  </div>

  <div class="form-group">
    <%= f.label :author, "Autor" %><br/>
    <%= f.select :author_id, Author.all.collect { |x| [x.first_name + ' ' + x.last_name, x.id] },
        { :include_blank => 'Elige uno' }, class:'form-control' %><br/>
  </div>

  <div class="form-group">
    <%= f.label :publisher, "Editorial" %><br/>
    <%= f.select :publisher_id, Publisher.all.collect { |x| [x.name, x.id] },
        { :include_blank => 'Elige uno' }, class:'form-control' %><br/>
  </div>

  <div class="form-group">
    <%= f.label :format, "Formato" %><br/>
    <%= f.text_field :format, class:'form-control' %><br/>
  </div>

  <div class="form-group">
    <%= f.label :year, "Año" %><br/>
    <%= f.text_field :year, class:'form-control' %><br/>
  </div>

  <div class="form-group">
    <%= f.label :coverpath, "Enlace de portada" %><br/>
    <%= f.text_field :coverpath, class:'form-control' %><br/>
  </div>

  <div class="form-group">
    <%= f.label :excerpt, "Extracto" %><br/>
    <%= f.text_area :excerpt, class:'form-control' %><br/>
  </div>

  <div class="form-group">
    <%= f.label :pages, "Páginas" %><br/>
    <%= f.number_field :pages, class:'form-control' %><br/>
  </div>

  <div class="form-group">
    <%= f.label :price, "Precio" %><br/>
    <%= f.text_field :price, class:'form-control' %><br/>
  </div>

  <div class="form-group">
    <%= f.label :buy, "Enlace de compra" %><br/>
    <%= f.text_field :buy, class:'form-control' %><br/>
  </div>

  <%= f.submit 'Aceptar', class:'btn btn-primary' %>
  <%= link_to 'Cancelar', books_path, class:'btn btn-default' %>
<% end %>
