<h2>Agregar una nueva categoria</h2>

<%= form_for @category do |f| %>
  <div class="form-group">
    <%= f.label :name %><br/>
    <%= f.text_field :name, class:'form-control' %><br/>
  </div>

  <%= f.submit 'Aceptar', class:'btn btn-primary' %>
  <%= link_to 'Cancelar', categories_path, class:'btn btn-default' %>
<% end %>
